<%- include('./port/layout-start', {title: book.title}) %>
<%- include('./port/navbar') %>


<div class="container-fluid">
  <div class="mt-4">
    <%- include('./library/book-view') %>
  </div>
</div>


<%- include('./port/layout-end') %>