<%- include('./port/layout-start', {title: title}) %>
<%- include('./port/navbar') %>


<div class="container-fluid">
  <%- include('./library/books-list', {books: books}) %>
</div>



<%- include('./port/layout-end') %>